*{
    margin:0;
    padding: 0;
}



/* This is css for demo us page */

.biw-video
{
    margin-top:10px;
    margin-left: 440px;
}

.demo-right{
    margin-left:5px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color:#1167b1;
}


.demo-right h3
{
    margin-left: 470px;
    margin-top:10px;
    margin-bottom: 10px;
    color: orangered;
    text-decoration:underline;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
}

/* aboutus page */

.about-left p
{
   
    color:#2A4893;
    font-size: 20px;
    /* line-height: 2px; */
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px; 
}

.about-left h6
{
   
    color:#2A4893;
    font-size: 20px;
    /* line-height: 2px; */
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}



/* css of curriculum */
.curriculum
{
    display: flex;
    margin-top:5px;
    
}

.left-top-curricullum{
    height: 250px;
    width: 500px;
    border:1px solid black;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    line-height: 34px;
    font-size: 22px;
    word-spacing: 0px;
    padding-left: 3px;
    background-color:azure;
    color:#2A4893;
    font-family: 'Times New Roman', Times, serif;
}

.left-top-curricullum h4{
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}


.left-bottom-curricullum{
    height: 340px;
    width: 500px;
    border:1px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 30px;
    font-size: 22px;
    word-spacing: 0px;
    padding-left: 3px;
    background-color:azure;
    color:#2A4893;
    font-family: 'Times New Roman', Times, serif;
}

.left-bottom-curricullum h4{
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}





.middle-top-curriculum{
    height: 280px;
    width: 500px;
    border:1px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 30px;
    font-size: 22px;
    word-spacing: 0px;
    padding-left: 3px;
    background-color:azure;
    color:#2A4893;
    font-family: 'Times New Roman', Times, serif;
}

.middle-top-curriculum h4{
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.middle-bottom-curriculum{
    height: 250px;
    width: 500px;
    border:1px solid black;
}

.middle-bottom-curriculum{
    height: 310px;
    width: 500px;
    border:1px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 30px;
    font-size: 22px;
    word-spacing: 0px;
    padding-left: 3px;
    background-color:azure;
    color:#2A4893;
    font-family: 'Times New Roman', Times, serif;
}

.middle-bottom-curriculum h4{
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.right-curriculum{
    background-color: azure;
    padding-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    margin-top: 180px;
    border: 1px solid rgb(92, 12, 12);
}

.right-curriculum h3{
    text-align: center;
}

.right-curriculum p{
    text-align: center;
    font-size:20px;  
}

/* This css is for  */

.certification{
    display: flex;
}

.certification-left{
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.certification-right{
    border: 1px solid black; 
    height: 400px;
    width: 800px;
    margin-top:20px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.cert-left-img{
    height:400px;
    width: 400px;
}


.cert-right-img{
    height:400px;
    width: 800px;
}



/* this css for carrier opportunities */
/* .carrier-video{
    height:400px;
    width: auto;
    margin-left: 350px;
    margin-top: 20px;
}

.carrier-left p{
margin-top: 5px;    
margin-left:350px ;
font-size: 25px;
color: blue;
font-family: 'Times New Roman', Times, serif;
}
.carrier{
    background-color: #c046fc;
    margin-top: 3px;
} */
.under-construction
{
    height: 400px;
    width: 600px;
    margin-top: 1px;
    margin-left: 350px;


}

/* This is for course and fee */

.course-fee{
    display:flex;
    
}

.course-fee-left{
    margin-top:5px;
    font-family: 'Times New Roman', Times, serif;
}
.course-fee-right img{
    margin-left: 10px;
    margin-top:5px;
    height: 300px;
    width: 300px;
}